.alert-success {
        text-align: center;
        border: solid 1px $green-dark;
        border-radius: 4px;
        background-color: $green-light;
        padding: 5px;
        color: $green-dark;
}