.icon-task-in-progress {
        background-color: $grey;
}

.task-in-progress {
        background-color: red;
}

.display-none {
        display: none;
}

.display-blur {
        filter: blur(0.5em);
}