//^ Styles des icones
// Ici, style appliqué au cadre de l'icone et son background
%icons-contours-style {
        border: solid 1px;
        border-radius: 3px;
        background-color: transparent;
        padding: 0;
}

// Ici, style appliqué à l'icone en elle-même
%icons-internal-style {
        width: 15px;
        height: 15px;
        padding-top: 2px;
        margin: 3px 7px;
}

// Ici, style appliqué au cadre et au background AU SURVOL, définies en dehors de la section SURVOL car utilisée également par le _header.scss
%hover-icons-contours-style {
        background-color: $grey;
        cursor: pointer;
}

// Ici, style appliqué à l'icone en elle-même AU SURVOL, définies en dehors de la section SURVOL car utilisée également par le _header.scss
%hover-icons-internal-style {
        transform: scale(1.5);
}


//^ Styles des tâches et de leurs composants AU SURVOL !
// Il s'agit d'un gros bloc de CSS mais on est bien dans le cas d'un héritage donc sa place est bien ici
%hover-tasks-background {
        background: $gradient4;

        .title-buttons {

                h3 {
                        color: $white;
                }

                .icon-contours {
                        @extend %hover-icons-contours-style;
                        background-color: transparent;
                        border-color: $white
                }

                .icon {
                        color: $white;
                }

                .icon-contours:hover {
                        background-color: $white;

                        .icon {
                                @extend %hover-icons-internal-style;
                                color: $fof;
                        }
                }
        }

        .afficher-masquer-description {
                color: rgba($white, 0.4);
        }

        .description {
                color: $white;
        }
}


//^ Style des tâches EN COURS DE SUPPRESSION
%hover-confirmation-suppression {
        background: $gradient4;
        
        .question {
                color: $white;
        }

        .div-boutons-confirmation {
                display: flex;
                flex-direction: row;
                justify-content: center;

                %confirmation-ou-suppression {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: $white;
                        text-decoration: underline;
                        border: solid 1px $white;
                        border-radius: 4px;
                        width: 50px;
                        height: 25px;
                        margin: 15px;
                }

                %hover-confirmation-ou-suppression {
                        text-decoration: none;
                        cursor: pointer;
                        background-color: $grey;
                        color: $blue;
                }

                .confirmation {
                        @extend %confirmation-ou-suppression;
                }

                .confirmation:hover {
                        @extend %hover-confirmation-ou-suppression;
                }

                .annulation {
                        @extend %confirmation-ou-suppression;
                }

                .annulation:hover {
                        @extend %hover-confirmation-ou-suppression;
                }
        }
}




