//^ GÉNÉRAUX */ 
body {
        margin: 0;
        width: 100%;
        font-family: "Raleway";

        h1, h2 {
                font-family: "Tourney";
                letter-spacing: 2px;
        }

        button {
                font-family: "raleway";
        }

        h1 {
                width: 100%;
                text-align: center;
                margin-bottom: 5px;
                font-size: 4em;
                letter-spacing: 5px;
                color: $white;
        }

        h2 {
                font-size: 2em;
        }

        .icon-contours {
                @extend %icons-contours-style;
        }

        .icon {
                @extend %icons-internal-style;
        }
}